@charset "utf-8";
/* CSS Document for different display sizes */

@media screen and (max-width: 1200px) {
    .content-wrapper {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}



@media screen and (max-width: 991px) {

    body {
        font-size: 15px;
    }

    #breadcrumb {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Main page */

    #restaurants-list li {
        width: calc((100% - 15px) / 2);
    }

    #restaurants-list li:nth-of-type(3n) {
        margin-right: 15px;
    }

    #restaurants-list li:nth-of-type(2n) {
        margin-right: 0;
    }

    #restaurants-list li:hover,
    #restaurants-list li:focus {
        box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
        transform: none;
    }

    #restaurants-list li a {
        box-sizing: border-box;
        width: 100%;
    }


    /* Restaurant page */
    #reviews-container {
        padding-bottom: 30px;
    }

    #reviews-list li {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    /* Restaurant page */
    #restaurant-container .grid-column {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 16px;
    }

    /* Main page */

    #restaurants-list li {
        width: 100%;
        margin-right: 0;
    }

    #restaurants-list li:nth-of-type(3n) {
        margin-right: 0;
    }



}
