@charset "utf-8";
/* CSS Document */

body,
td,
th,
p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}

p {
	font-size: 1em;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	font-size: 14px; /* Base font-size for em */
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}

.content-wrapper {
	width: 1200px;
	margin: 0 auto;
}

.grid-line {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.grid-column {
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
}

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 0.8em;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
	padding-top: 20px;
	background-color: #252831;
	text-align:center;
}

nav h1 {
	margin: 0 auto 20px;
}

nav h1 a {
	color: #fff;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
#filters {
	background-color: #444;
	padding-top: 20px;
}

.filter-options {
	text-align: center;
}

.filter-options h2 {
	color: orange;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1;
	margin: 10px 0 15px;
}

.filter-options select {
	background-color: #fafafa;
	border: 1px solid #fafafa;
	font-family: Arial,sans-serif;
	font-size: 11pt;
	height: 35px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

#restaurants-list li {
	background-color: #fff;
	border: 1px solid transparent;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
	font-family: Arial,sans-serif;
	margin-bottom: 20px;
	min-height: 380px;
	padding: 25px 20px;
	box-sizing: border-box;
	margin-right: 15px;
	width: calc((100% - 30px) / 3);
	transition: all 250ms linear;
}
#restaurants-list li:nth-of-type(3n) {
	margin-right: 0;
}

#restaurants-list li:hover {
	transform: translateY(-7px);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

#restaurants-list li:focus {
	border-color: red;
	transform: translateY(-7px);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

#restaurants-list .restaurant-img {
	display: block;
	margin: 0;
}

#restaurants-list .restaurant-img img {
	max-width: 100%;
	width: 100%;
}

#restaurants-list li h1 {
	color: #f18200;
	font-family: Arial,sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
}

#restaurants-list p {
	margin: 0;
	font-size: 1em;
}

#restaurants-list li a {
	background-color: orange;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.inside #map-container {

}

.inside #map {

}

.inside #footer {

}

#restaurant-name {
	color: #f18200;
	font-family: Arial,sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
}

#restaurant-img {
	display: block;
}

#restaurant-img img {
	width: 100%;
}

#restaurant-address {
	font-size: 1.2em;
	margin: 10px 0px;
	text-align: center;
	display: block;
	color: #333;
}

#restaurant-address:hover,
#restaurant-address:focus {
	color: prange
}

#restaurant-address i {
	margin-right: 10px;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 1.2em;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;
	padding: 140px 0 30px;
}

#reviews-container {
	padding: 30px 0 80px;
}

#restaurant-container .grid-column {
	width: 50%;
}


#reviews-container h2 {
	color: #f58500;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}

#reviews-list {
	margin: 0;
	padding: 0;
}

#reviews-list li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	padding: 0 20px 20px;
	position: relative;
	width: 85%;
}

#reviews-list li p {
	margin: 0 0 10px;
}

#restaurant-hours td {
	color: #666;
}

/* ====================== Fixer class ====================== */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
